{% extends 'base.html' %}
{% load static %}

{% block content %}


        <!-- breadcrumb__start -->
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__title">
                            <h1>درباره ما</h1>
                            <ul>
                                <li>
                                    <a href="#">خانه</a>
                                </li>
                                <li class="color__blue">
                                    درباره ما
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- breadcrumb__end -->

        <!-- about__section__start -->
            <div class="about sp_top_80 sp_bottom_80">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                            <div class="about__text">
                                <h2>سیلور<span style="color: #c2ec87" class="primary__color">مون</span> 🌖 SilvermooN</h2>
                                <p>Silver Moon یک پلتفرم خرده‌فروشی آنلاین پویا و نوآورانه در زمینه پوشاک مجلسی زنانه است که خریدی بدون دغدغه را با ضمانت تعویض ارائه می‌دهد. ما با تنوعی بی‌نظیر از مدل‌ها، زیبایی و سبک را برای شما به ارمغان می‌آوریم. **سبکی که اهمیت دارد 🌖**</p>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                            <div class="about__img">
                                <img src="{% static 'img/about/about__1.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- about__section__end -->

        <!-- video__banner__section -->
            <div class="video sp_bottom_80">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <!--ویدیو درباره ما
                            <div class="video__img">
                                <img src="{% static 'img/about/video-banner__1.jpg' %}" alt="">
                                <div class="video__icon">
                                    <a class="video-btn" href="{% static 'videos/ramin.mp4' %}"> <i class="fa fa-play"></i></a>
                                </div>
                            
                            -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- video__banner__section -->

{% endblock content %}
