{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- breadcrumb__start -->
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__title">
                            <h1>تماس</h1>
                            <ul>
                                <li>
                                    <a href="#">خانه</a>
                                </li>
                                <li class="color__blue">
                                    تماس
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- breadcrumb__end -->


        <!-- contact__section__start -->
            <div class="contactarea sp_top_80 sp_bottom_80">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                            <div class="contactarea__single">
                                <h3>آدرس ایمیل</h3>
                                <p>shayanaminaei@gmail.com <br></p>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                            <div class="contactarea__single">
                                <h3>شماره تلفن</h3>
                                <p>09102052440 <br></p>
                            </div>
                        </div>


                        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                            <div class="contactarea__single">
                                <h3>آدرس شعبه</h3>
                                <p>خیابان مولوی،بازارچه سعادت، <br>پاساژ پرشین٫طبقه همکف٫پلاک۳۲۰</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        <!-- contact__section__end -->

            <!-- contact__map__start -->
                <div class="contact__map sp_bottom_80">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                               <!-- #google map-->
                                <div class="contact__map__inner">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d698.7133741364287!2d51.42148870745333!3d35.669701933547465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e0100080d5b2d%3A0xd805a764b20487dc!2z2KjYp9iy2KfYsSDYqNiy2LHaryDYqtmH2LHYp9mGINm-2KfYs9in2pgg2b7Ysdi024zZhg!5e0!3m2!1sfa!2s!4v1739353138541!5m2!1sfa!2s" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             <!-- contact__map__end -->

{% endblock content %}
