{% load static %}
<!doctype html>
<html class="no-js" lang="zxx" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>سیلور🌖-سبکی که اهمیت دارد</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/futura-std-4' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    
    
    <body>
    
    
        <main class="main_wrapper body__overlay">
    
        <!-- header section start -->
        <header>
            <div class="headerarea header__sticky">
                <div class="container desktop__menu__wrapper">
                    <div class="row common__row position-relative">
                        <div class="col-xl-2 col-lg-2 col-md-6">
                            <div class="headerarea__logo">
                                <a href="#"><img style="height: 150px; width: auto" src="{% static 'img/logo/logo__1.png' %}" alt=""></a>
                            </div>
                        </div>


                        <div class="col-xl-7 col-lg-7 col-md-6 main_menu_wrap">

                            <div class="headerarea__main__menu ">
                                <nav>
                                    <ul>
                                        <li><a href="{% url 'productions:landing_page' %}">خانه</a> </li>

                                        <li><a class="headerarea__has__dropdown" href="{% url 'productions:category_list' %}">دسته بندی
                                            </a>
                                            <span class="header__label hot__color">داغ</span>

                                            <ul class="headerarea__submenu">
                                                {% for category in categories_context %}
                                                    <li><a href="{% url 'productions:product_list_by_category' category.slug %}">{{ category.category_name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>

                                        <li><a href="{% url 'productions:contact' %}">تماس با ما

                                            </a>
                                        </li>

                                        <li><a href="{% url 'productions:about' %}">درباره ما</a> </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>


                        <div class="col-xl-3 col-lg-3 col-md-6">

                            <div class="headerarea__right">

                                <ul class="headerarea__right__nav">
                                    <li>
                                        <div class="headerarea__search cursor__pointer">
                                            <svg role="presentation" stroke-width="2" focusable="false" width="22" height="22" class="icon icon-search" viewbox="0 0 22 22">
                                                <circle cx="11" cy="10" r="7" fill="none" stroke="currentColor"></circle>
                                                <path d="m16 15 3 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="setting__wrap cursor__pointer">
                                            <div class="setting__wrap__active">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512">
                                                    <path d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path>
                                                    <path d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="headermiddle__bar cursor__pointer">
                                            <div class="headermiddle__account">
                                                <div class="headermiddle__account__img">
                                                    <a href="{% url 'orders:cart' %}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512">
                                                            <circle cx="176" cy="416" r="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></circle>
                                                            <circle cx="400" cy="416" r="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></circle>
                                                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M48 80h64l48 272h256"></path>
                                                            <path d="M160 288h249.44a8 8 0 007.85-6.43l28.8-144a8 8 0 00-7.85-9.57H128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                        </div>

                    </div>


                </div>
            </div>

            <div class="container-fluid mob_menu_wrapper headerarea header__sticky">
                <div class="row align-items-center">
                    <div class="col-sm-4 col-2">
                        <div class="mobile-off-canvas">
                            <a class="mobile-aside-button" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                                    <line x1="3" y1="12" x2="21" y2="12"></line>
                                    <line x1="3" y1="6" x2="21" y2="6"></line>
                                    <line x1="3" y1="18" x2="21" y2="18"></line>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-5">
                        <div style=" padding-left: 50px; margin-left: 10px" class="mobile-logo">
                            <a class="logo__mobile" href="#"><img src="{% static 'img/logo/logo__1.png' %}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-5">
                        <div class="header-right-wrap">


                            <div class="header__right__inner__wrap d-flex align-items-center justify-content-end">

                                <ul class="headerarea__right headerarea__right__mobail__menu">
                                    <li>
                                        <div class="headerarea__search cursor__pointer">

                                            <svg role="presentation" stroke-width="2" focusable="false" width="22" height="22" class="icon icon-search" viewbox="0 0 22 22">
                                                <circle cx="11" cy="10" r="7" fill="none" stroke="currentColor"></circle>
                                                <path d="m16 15 3 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>


                                        </div>
                                    </li>

                                    <li>
                                        <div class="setting__wrap cursor__pointer">
                                            <div class="setting__wrap__active">

                                                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512">
                                                    <path d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path>
                                                    <path d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                                                </svg>

                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="headermiddle__bar cursor__pointer">
                                            <div class="headermiddle__account">
                                                <div class="headermiddle__account__img">
                                                    <a href="{% url 'orders:cart' %}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512">
                                                            <circle cx="176" cy="416" r="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></circle>
                                                            <circle cx="400" cy="416" r="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></circle>
                                                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M48 80h64l48 272h256"></path>
                                                            <path d="M160 288h249.44a8 8 0 007.85-6.43l28.8-144a8 8 0 00-7.85-9.57H128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path>
                                                        </svg>
                                                    </a>
{#                                                    <span class=" bigcounter">2</span>#}

                                                </div>

                                            </div>
                                        </div>
                                    </li>

                                </ul>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Mobile Menu Start Here -->
            <div class="mobile-off-canvas-active">
                <a class="mobile-aside-close"><i class="fa fa-close"></i></a>
                <div class="header-mobile-aside-wrap">

                    <div class="mobile__logo">
                        <a href="index.html">
                            <img style="width: 100px; height: auto" src="{% static 'img/logo/logo__1.png' %}" alt="Logo">
                        </a>
                    </div>

                    <div class="mobile-search">
                        <form action="{% url 'productions:search_results' %}" method="get" class="search-form">
                            <input type="search" name="q" value="" placeholder="جستجوی کل فروشگاه…">
                            <button class="button-search"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="mobile-menu-wrap">

                        <div class="mobile-navigation">

                            <nav>
                                <ul class="mobile-menu">
                                    <li><a href="{% url 'productions:landing_page' %}">خانه</a>
                                    <li class="menu-item-has-children"><a href="{% url 'productions:category_list' %}">دسته بندی</a>
                                        <ul class="dropdown">
                                            {% for category in categories_context %}
                                                <li><a href="{% url 'productions:product_list_by_category' category.slug %}">{{ category.category_name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>

                                    <li><a href="{% url 'productions:about' %}">درباره</a>
                                    </li>
                                    <li><a href="{% url 'productions:contact' %}">تماس با ما</a>
                                    </li>


                                </ul>
                            </nav>

                        </div>


                    </div>
                </div>
            </div>
            <!-- Mobile Menu end Here -->

            <!-- setting__wrap__list__start -->
            <div class="setting__wrap__list">
                <button class="setting__wrap__close">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512">
                        <title>بستن</title>
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"></path>
                    </svg></button>

                <div class="setting__wrap__heading">
                    <h6>
                        <a href="#">حساب کاربری</a>
                    </h6>
                </div>
                <div class="setting__wrap__list__inner">
                    <ul>
                        {% if request.COOKIES.access_token %}
                            <li>
                                <a href="#" id="logout-link" class="default__button">خروج</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="default__button" href="{% url 'customers:login_register_page' %}">ورود</a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="default__button" href="{% url 'orders:cart' %}">سبد خرید</a>
                        </li>
{#                        <li>#}
{#                            <a href="wishlist.html">لیست علاقه‌مندی‌ها</a>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
            <!-- setting__wrap__list__end -->

            <!-- header__search -->
            <div class="headersearch__active">
                <div class="headersearch__active__icon">
                    <button class="headersearch__active__close">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512">
                            <title>بستن</title>
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"></path>
                        </svg></button>
                </div>
                <div class="headersearch__active__input">
                    <form action="{% url 'productions:search_results' %}" method="get" role="search" style="position: relative;">
                        <div class="header__form__search">
                            <input type="search" name="q" value="" placeholder=" جستجو کنید" class="input-text" autocomplete="off">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- header__search -->

        </header>
        <!-- header section end -->


            <!-- breadcrumb__start -->
            <div class="breadcrumb">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb__title">
                                <h1>محصول</h1>
                                <ul>
                                    <li>
                                        <a href="#">خانه</a>
                                    </li>
                                    <li class="color__blue">
                                        جزئیات محصول
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- breadcrumb__end -->



<!-- single__product__start -->
   <div class="single__product sp_top_50 sp_bottom_80">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="featurearea__details__img"dir="ltr" >

                    <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for image in images %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img class="d-block w-100" src="{{ image.photo.url }}" alt="{{ image.name }}">
        </div>
        {% endfor %}
    </div>

    <!-- دکمه‌های کنترلی برای حرکت بین اسلایدها -->
    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">قبلی</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">بعدی</span>
    </button>
</div>

{#                    <div class=" featurearea__thumb__img featurearea__thumb__img__slider__active slider__default__arrow" >#}
{#                        {% for image in images %}#}
{#                            <div class="featurearea__single__thumb__img">#}
{#                                <img class="thumbnail-image" src="{{ image.photo.url }}" data-large="{{ product.main_image.url }}" alt="تصویر کوچک محصول">#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                        </div>#}
{#                    </div>#}

                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="single__product__wrap">
                    <div class="single__product__heding">
                        <h2>{{ product.name }}</h2>
                    </div>
                    <div class="single__product__price">
                        <span>{{ product.price }} تومان</span>
{#                        <del>90,000 تومان</del>#}
{#                        <label>صرفه جویی -25%</label>#}
                    </div>

                    <hr>


                    <div class="single__product__description">
                        <p>{{ product.specifications }}</p>
                        
                        </div>
                     
                        <div class="single__product__special__feature">


                            <ul>
                              <li class="product__variant__inventory">
                                <strong class="inventory__title">موجودی:</strong>
                                <span class="variant__inventory">
                                    {% if product.available %}
                                        <span class="text-success">موجود است</span>
                                    {% else %}
                                         <span class="text-danger">ناموجود</span>
                                    {% endif %}
                                </span>
                              </li>
                              <li>
                                <strong>دسته بندی:</strong>
                                <span>
                                  <a href="#">{{ product.category }}</a>
                                </span>
                              </li>
                            </ul>
                       
                          </div>

                          <hr>
                    {% if product.available == True %}
{#                            <form id="add-cart" method="POST">#}
{#                                {% csrf_token %}#}
{##}
{#                                <!-- انتخاب تعداد با دکمه‌های + و - -->#}
{#                                <div class="single__product__quantity">#}
{#                                    <div class="qty-container">#}
{#                                        <button class="qty-btn-minus btn-qty" type="button">-</button>#}
{#                                        <input type="text" name="{{ form.quantity.name }}" value="1" class="input-qty" id="product-quantity" inputmode="numeric">#}
{#                                        <button class="qty-btn-plus btn-qty" type="button">+</button>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <!-- انتخاب رنگ -->#}
{#                                <div class="form-group">#}
{#                                    <label for="{{ form.color.id_for_label }}">{{ form.color.label }}</label>#}
{#                                    {{ form.color }}#}
{#                                </div>#}
{##}
{#                                <br>#}
{##}
{#                                <!-- دکمه افزودن به سبد خرید -->#}
{#                                <a class="default__button" href="#" id="submit-link">#}
{#                                    <i class="fas fa-shopping-cart"></i> افزودن به سبد خرید#}
{#                                </a>#}
{#                            </form>#}
{##}
{##}
{##}
{#                            <hr>#}
                        {% endif %}



                            <p class="single__product__car">
                                        <img src="{% static 'img/car/car.webp' %}" height="25" alt="تاریخ تحویل">
{#                                        تاریخ تحویل تخمینی : <strong>09-  12 آگوست، 2024.</strong>#}
                            </p>
{#                            <div class="single__return__menu">#}
{#                                <h6>خلاصه قوانین بازگشت</h6>#}
{#                                <ul>#}
{#                                    <li>بازگشت به مدت 30 روز پذیرفته می شود</li>#}
{#                                    <li>ارسال رایگان برگشت</li>#}
{#                                    <li>بدون هزینه ذخیره سازی مجدد</li>#}
{#                                    <li>کالای فروش نهایی وجود ندارد</li>#}
{#                                </ul>#}
{#                            </div>#}


                            <div class="single__product__small__img">
                                <ul>
                                    <li>
                                        <img src="img/footer/footer__1.svg" alt="">
                                    </li>
                                    <li>
                                        <img src="img/footer/footer__2.svg" alt="">
                                    </li>
                                    <li>
                                        <img src="img/footer/footer__3.svg" alt="">
                                    </li>
                                    <li>
                                        <img src="img/footer/footer__4.svg" alt="">
                                    </li>
                                    <li>
                                        <img src="img/footer/footer__5.svg" alt="">
                                    </li>
                                    <li>
                                        <img src="img/footer/footer__6.svg" alt="">
                                    </li>
                                </ul>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- single__product__end -->

            <!-- contact__section__start  -->
            <div class="single__product__contact sp_bottom_80">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="single__product__contact__text text-center">
                                <h2>برای کمک بیشتر، با تیم پشتیبانی ما تماس بگیرید.</h2>
                                <div class="single__product__contact__button">
                                <a href="{% url 'productions:contact' %}" class="default__button"> تماس با ما</a>
                            </div>
                            <h3 class="single__product__contact__number"><i class="fas fa-phone"></i> 09035774781</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contact__section__end  -->



<!-- footer__section__start -->
  <div class="footer ">
    <div class="footer__inner sp_top_80">
    <div class="container sp_bottom_60">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="footer__widget">
                    <h4 class="footer__title">درباره ما</h4>
                    <div class="footer__content">
                        <p>Silver Moon یک پلتفرم خرده فروشی آنلاین پویا و نوآورانه است که طیف گسترده ای از محصولات را به مشتریان در سراسر کشور ارائه می دهد.</p>
                    </div>

                    <div class="footer__bottom">
<h5>سبکی که اهمیت دارد🌖</h5>
                </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-4 col-6">
                <div class="footer__widget">
                    <h4 class="footer__title">اطلاعات تماس</h4>
                    <div class="footer__menu">
                    <ul>
                        <li><a href="#">تلفن:09035774781</a></li>
                        <li><a href="#">ایمیل: nima.abarghooie1@gmail.com</a></li>
                        <li><a href="#">شعبه حضوری: تهران-خیابان مولوی،بازارچه سعادت،پاساژ پرشین٫طبقه همکف٫پلاک۳۲۰</a></li>
                    </ul>
                  </div>
                </div>
            </div>
            &emsp;
            &emsp;
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-4 col-6">
                <div class="footer__widget">
                    <h4 class="footer__title">لینک سریع</h4>
                    <div class="footer__menu">
                    <ul>
                        <li><a href="{% url 'productions:landing_page' %}">خانه</a></li>
                        <li><a href="{% url 'productions:category_list' %}">دسته بندی</a></li>
                        <li><a href="{% url 'productions:about' %}">درباره ما</a></li>
                        <li><a href="#">لیست آرزوها</a></li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-4 col-6">
                <div class="footer__widget">
                    <h4 class="footer__title">اعتماد شما سرمایه ماست</h4>
                    <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=582919&Code=xIwy1riSwGeTRkGJd8BhoFKqpINVrvzz'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=582919&Code=xIwy1riSwGeTRkGJd8BhoFKqpINVrvzz' alt='' style='cursor:pointer' code='xIwy1riSwGeTRkGJd8BhoFKqpINVrvzz'></a>
                </div>
            </div>
        </div>
    </div>
</div>
{#      <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=582919&Code=xIwy1riSwGeTRkGJd8BhoFKqpINVrvzz'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=582919&Code=xIwy1riSwGeTRkGJd8BhoFKqpINVrvzz' alt='' style='cursor:pointer' code='xIwy1riSwGeTRkGJd8BhoFKqpINVrvzz'></a>#}

    <div class="copyright">
    <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="copyright__text">

                <p>© <strong>Silver Moon 🌖</strong>. تمامی حقوق محفوظ است.</p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
 <!-- footer__section__end -->
        </main>


            <!-- JS here -->
                <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
                <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

                <script src="{% static 'js/popper.min.js' %}"></script>
                <script src="{% static 'js/bootstrap.min.js' %}"></script>
                <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
                <script src="{% static 'js/one-page-nav-min.js' %}"></script>
                <script src="{% static 'js/slick.min.js' %}"></script>
                <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
                <script src="{% static 'js/ajax-form.js' %}"></script>
                <script src="{% static 'js/wow.min.js' %}"></script>
                <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
                <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
                <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
                <script src="{% static 'js/waypoints.min.js' %}"></script>
                <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
                <script src="{% static 'js/fontawesome.min.js' %}"></script>
                <script src="{% static 'js/plugins.js' %}"></script>
                <script src="{% static 'js/main.js' %}"></script>
                <script>
                $(document).ready(function () {
                    $("#logout-link").click(function (event) {
                        event.preventDefault(); // جلوگیری از تغییر صفحه

                        $.ajax({
                            type: "POST",
                            url: "{% url 'customers:logout' %}",  // مسیر ویو Logout
                            headers: { "X-CSRFToken": "{{ csrf_token }}" }, // ارسال CSRF برای امنیت
                            success: function (response) {
                                alert('خروج موفقیت آمیز');  // نمایش پیام موفقیت
                                window.location.href = response.redirect_url;  // ریدایرکت به صفحه اصلی
                            },
                            error: function (xhr, status, error) {
                                console.error("خطا در خروج:", error);
                            }
                        });
                    });
                });
            </script>
<script>
    $(document).ready(function () {
    // تابع تبدیل اعداد فارسی و عربی به انگلیسی
    function convertToEnglishDigits(input) {
        return input.replace(/[۰-۹]/g, function (d) {
            return String.fromCharCode(d.charCodeAt(0) - 1728);
        }).replace(/[٠-٩]/g, function (d) {
            return String.fromCharCode(d.charCodeAt(0) - 1584);
        });
    }

    // تابع بررسی مقدار و اعمال محدودیت
    function validateQuantity(input) {
        var value = convertToEnglishDigits(input.val());

        // اگر مقدار ورودی خالی باشد، تغییری اعمال نشود
        if (value === "") {
            return;
        }

        var quantity = parseInt(value);

        if (isNaN(quantity) || quantity < 1) {
            quantity = 1;
        } else if (quantity > 50) {
            quantity = 50;
        }

        input.val(quantity);
    }

    // بررسی مقدار هنگام تایپ در ورودی
    $("#product-quantity").on("input", function () {
        validateQuantity($(this));
    });

    // ارسال فرم هنگام کلیک روی "افزودن به سبد خرید"
    $("#submit-link").off("click").on("click", function (event) {
        event.preventDefault();
        var input = $("#product-quantity");
        validateQuantity(input);  // اطمینان از مقدار صحیح قبل از ارسال

        var formData = $("#add-cart").serialize(); // دریافت داده‌های فرم
        console.log("فرم ارسال شد:", formData);

        $.ajax({
            type: "POST",
            url: "{% url 'orders:cart_add' product.id %}",
            data: formData,
            success: function (response) {
                console.log("اضافه شد به سبد خرید:", response);
                window.location.href = "{% url 'orders:cart' %}";
            },
            error: function (xhr, status, error) {
                console.error("خطا در افزودن به سبد خرید:", error);
            }
        });
    });
});


</script>



    </body>

</html>