<div style="display: flex; justify-content: center; align-items: center; min-height: 80vh; direction: rtl;">
  <div style="background: #e6ffe6; border: 1px solid #00cc66; border-radius: 6px; padding: 20px; max-width: 400px; width: 100%; text-align: right;">
    <h2 style="color: #2e7d32;">ممنون بابت کمکتون 🙏</h2>
    <p>کمک شما با موفقیت ثبت شد.</p>
    <a href ="http://127.0.0.1:8000/">
      <button type="submit" style="padding: 8px 16px; background-color: #4caf50; color: white; border: none; border-radius: 4px;">
      خانه
      </button>
    </a>
  </div>
  
</div>
