{% extends 'base.html' %}
{% load static %}
{% load color_filters %}

{% block content %}
<!-- herobanner__start -->
    <br>
    <br>
    <br>
            <div class="herobanner" dir="ltr">
                <div class=" container-fluid hero__fullwidth__spacing" dir="ltr">

                    <div class="herobanner__inner" dir="ltr">

                            <div class="container herobannerarea__slider  slider__default__arrow slider__default__dot" dir="ltr">
                                <div class="herobannerarea__slider__single">
                                    <div class="row align-items-center">

                                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 herobanner__img__side">
                                            <div class="herobanner__img">
                                                <a href="http://silver-moon.ir/%DA%A9%D8%AA-%D9%87%D8%A7/"><img style="height: 550px; width: auto; padding-left: 40px;" src="{% static 'img/herobanner/main_herobanner__2.png' %}" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 herobanner__text__side">
                                            <div class="herobanner__text__wraper ltn__slide-animation" style="text-align: right;" >
                                                <h1 class="herobanner__title herobanner__title__color animated" >مجموعه کت ها</h1>
                                                <div class="herobanner__text herobanner__text__color  animated">
                                                    <p>سبک‌های جذاب برای روح‌های رویایی.</p>
                                                </div>
                                                <div class="herobanner__button herobanner__button__color  animated">
                                                    <a href="http://silver-moon.ir/%DA%A9%D8%AA-%D9%87%D8%A7/" class="default__button" tabindex="0">خرید کنید</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="herobannerarea__slider__single">
                                    <div class="row align-items-center">

                                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 herobanner__img__side">
                                            <div class="herobanner__img">
                                                <a href="http://silver-moon.ir/%D8%B4%D9%88%D9%85%DB%8C%D8%B2/"><img style="height: 550px; width: auto; padding-left: 40px" src="{% static 'img/herobanner/main_herobanner__3.png' %}" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 herobanner__text__side">
                                            <div class="herobanner__text__wraper ltn__slide-animation" style="text-align: right;">
                                                <h1 class="herobanner__title herobanner__title__color animated">مجموعه شومیز ها</h1>
                                                <div class="herobanner__text herobanner__text__color  animated">
                                                    <p>سبک‌های جذاب برای روح‌های رویایی.</p>
                                                </div>
                                                <div class="herobanner__button herobanner__button__color  animated">
                                                    <a href="http://silver-moon.ir/%D8%B4%D9%88%D9%85%DB%8C%D8%B2/" class="default__button" tabindex="0">خرید کنید</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

{#                                <div class="herobannerarea__slider__single">#}
{#                                    <div class="row align-items-center">#}
{##}
{#                                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 herobanner__img__side">#}
{#                                            <div class="herobanner__img">#}
{#                                                <img style="height: 640px; width: auto; padding-left: 100px" src="{% static 'img/herobanner/main_herobanner__1.png' %}" alt="">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 herobanner__text__side">#}
{#                                            <div class="herobanner__text__wraper ltn__slide-animation" style="text-align: right;">#}
{#                                                <h1 class="herobanner__title herobanner__title__color animated">مجموعه دامن و شلوار</h1>#}
{#                                                <div class="herobanner__text herobanner__text__color  animated">#}
{#                                                    <p>سبک‌های جذاب برای روح‌های رویایی.</p>#}
{#                                                </div>#}
{#                                                <div class="herobanner__button herobanner__button__color  animated">#}
{#                                                    <a href="#" class="default__button" tabindex="0">خرید کنید</a>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}

                            </div>


                     </div>
                </div>
            </div>
<!-- herobanner__end -->

    <br>
    <br>

        <!-- شروع بخش درباره -->
            <div class="about sp_top_80 sp_bottom_80">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                            <div class="about__img">
                                <img src="{% static 'img/about/about__8.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                            <div class="about__text">
                                <h2>مانتو مجلسی<span>.</span></h2>

                                <p> مانتو های زیبا با جنس حریر و ریون درجه یک با نگین تزیین شده</p>

                               <p></p>

                                <div class="about__button">
                                    <a class="default__button btn__pink" href="{% url 'productions:product_list' %}">اکنون خرید کنید</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        <!-- پایان بخش درباره -->


<!-- feature__section__start -->
            <div class="feture__section sp_bottom_80">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="section__title text-center">
                                            <h2>ورودی های جدید</h2>
                                        </div>
                                    </div>
                                </div>




                                <div class="row grid__responsive row__custom__class feature__slider__active slider__default__arrow">
                                    {% for product in products %}
                                        <div class="col-xl-3 column__custom__class">
                                        <div class="grid__wraper">
                                            <div class="grid__wraper__img">
                                                <div class="grid__wraper__img__inner">
                                                    <a href="{{product.get_absolute_url}}">
                                                        <img class="primary__image" src="{{product.main_image.url}}" alt="Primary Image">
                                                        <img class="secondary__image" src="{{product.main_image.url}}" alt="Secondary Image">
                                                    </a>
                                                </div>
                                                <div class="grid__wraper__icon">
                                                    <ul>
                                                        <li>
                                                            <span data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                                <a class="quick__view__action" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش سریع" data-bs-original-title="نمایش سریع">
                                                                    <i class="far fa-eye"></i>
                                                                </a>
                                                            </span>
                                                        </li>

                                                        <li>
                                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="افزودن به سبد خرید" data-bs-original-title="افزودن به سبد خرید">
                                                                <i class="fas fa-shopping-cart"></i>
                                                            </a>
                                                        </li>





                                                    </ul>
                                                </div>

                                                <div class="grid__wraper__badge">
                                                    <span class="new__badge">جدید</span>
                                                </div>


                                            </div>
                                            <div class="grid__wraper__info">
                                                <h3 class="grid__wraper__tittle">
                                                    <a href="{{product.get_absolute_url}}" tabindex="0"> {{product.name}}</a>
                                                </h3>
                                                <div class="grid__wraper__price">
                                                    <span>{{product.price}} تومان</span>
                                                </div>
                                                <div class="grid__wraper__color">
        <ul class="color-categories grid-color-swatch color__img__parent d-flex justify-content-center">

            {% for color in product.colors.all|slice:":4" %}
                <li class="color_img_variant">
                    <label data-bs-toggle="tooltip" data-bs-placement="top" title="{{ color.name }}" style="background: {{ color.name|translate_color }};">
                    </label>
                </li>
            {% endfor %}

            {% if product.colors.all.count > 4 %}
                <li class="vaiant-plus-one">
                    <a href="single-product.html" tabindex="0">
                        <span>+{{ product.colors.all.count|add:"-4" }}</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
                                            </div>

                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>

                                  <div class="col-xl-12">
                                        <div class="feture__section__button text-center">
                                            <a class="default__button" href="{% url 'productions:product_list' %}">مشاهده همه</a>
                                        </div>
                                  </div>
                                </div>

            </div>
<!-- feature__section__start -->


        <!-- animate__content__start -->
                        <div class="animate__content sp_bottom_100">
                            <div class="container-fluid full__width__padding">
                                <div class="animate__content__wrap">

                                    <div class="animate__content__single">
                                        <span> با دقت خرید نکنید</span>
                                    </div>
                                    <div class="animate__content__single animate__content__single--2">
                                        <span>  اینجا ما ضمانت تعویض داریم</span>
                                    </div>

                                </div>
                            </div>
                        </div>
        <!-- animate__content__start -->


    <br>
    <br>
    <br>

    <!-- fetaure__section__start -->
 <div class="feature__2 sp_bottom_80">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="feature__2__single">
                    <div class="feature__2__icon">
                        <img src="{% static 'img/feature/feature__1.svg' %}" alt="">
                    </div>
                    <div class="feature__2__text">
                        <h4>ارسال با تیپاکس</h4>
                        <p>سریع ترین زمان ممکن </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="feature__2__single">
                    <div class="feature__2__icon">
                        <img src="{% static 'img/feature/feature__2.svg' %}" alt="">
                    </div>
                    <div class="feature__2__text">
                        <h4>ضمانت تعویض کالا</h4>
                        <p>به مدت یکهفته</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="feature__2__single">
                    <div class="feature__2__icon">
                        <img src="{% static 'img/feature/feature__3.svg' %}" alt="">
                    </div>
                    <div class="feature__2__text">
                        <h4>تسویه حساب ایمن</h4>
                        <p>100٪ پرداخت امن.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="feature__2__single">
                    <div class="feature__2__icon">
                        <img src="{% static 'img/feature/feature__4.svg' %}" alt="">
                    </div>
                    <div class="feature__2__text">
                        <h4>پشتیبانی</h4>
                        <p>۰۹۰۳۵۷۷۴۷۸۱</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 <!-- fetaure__section__end -->
{% endblock content %}