{% load static %}
<!doctype html>
<html class="no-js" lang="zxx" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>سیلور🌖-سبکی که اهمیت دارد</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/futura-std-4' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>


<main class="main_wrapper body__overlay overflow__hidden">

        <!-- header section start -->
        <header>
            <div class="headerarea header__sticky">
                <div class="container desktop__menu__wrapper">
                    <div class="row common__row position-relative">
                        <div class="col-xl-2 col-lg-2 col-md-6">
                            <div class="headerarea__logo">
                                <a href="#"><img style="height: 150px; width: auto" src="{% static 'img/logo/logo__1.png' %}" alt=""></a>
                            </div>
                        </div>


                        <div class="col-xl-7 col-lg-7 col-md-6 main_menu_wrap">

                            <div class="headerarea__main__menu ">
                                <nav>
                                    <ul>
                                        <li><a href="{% url 'productions:landing_page' %}">خانه</a> </li>

                                        <li><a class="headerarea__has__dropdown" href="{% url 'productions:category_list' %}">دسته بندی
                                            </a>
                                            <span class="header__label hot__color">داغ</span>

                                            <ul class="headerarea__submenu">
                                                {% for category in categories_context %}
                                                    <li><a href="{% url 'productions:product_list_by_category' category.slug %}">{{ category.category_name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>

                                        <li><a href="{% url 'productions:contact' %}">تماس با ما

                                            </a>
                                        </li>

                                        <li><a href="{% url 'productions:about' %}">درباره ما</a> </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>


                        <div class="col-xl-3 col-lg-3 col-md-6">

                            <div class="headerarea__right">

                                <ul class="headerarea__right__nav">
                                    <li>
                                        <div class="headerarea__search cursor__pointer">
                                            <svg role="presentation" stroke-width="2" focusable="false" width="22" height="22" class="icon icon-search" viewbox="0 0 22 22">
                                                <circle cx="11" cy="10" r="7" fill="none" stroke="currentColor"></circle>
                                                <path d="m16 15 3 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="setting__wrap cursor__pointer">
                                            <div class="setting__wrap__active">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512">
                                                    <path d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path>
                                                    <path d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="headermiddle__bar cursor__pointer">
                                            <div class="headermiddle__account">
                                                <div class="headermiddle__account__img">
                                                    <a href="{% url 'orders:cart' %}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512">
                                                            <circle cx="176" cy="416" r="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></circle>
                                                            <circle cx="400" cy="416" r="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></circle>
                                                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M48 80h64l48 272h256"></path>
                                                            <path d="M160 288h249.44a8 8 0 007.85-6.43l28.8-144a8 8 0 00-7.85-9.57H128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                        </div>

                    </div>


                </div>
            </div>

            <div class="container-fluid mob_menu_wrapper headerarea header__sticky">
                <div class="row align-items-center">
                    <div class="col-sm-4 col-2">
                        <div class="mobile-off-canvas">
                            <a class="mobile-aside-button" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                                    <line x1="3" y1="12" x2="21" y2="12"></line>
                                    <line x1="3" y1="6" x2="21" y2="6"></line>
                                    <line x1="3" y1="18" x2="21" y2="18"></line>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-5">
                        <div style=" padding-left: 50px; margin-left: 10px" class="mobile-logo">
                            <a class="logo__mobile" href="#"><img src="{% static 'img/logo/logo__1.png' %}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-5">
                        <div class="header-right-wrap">


                            <div class="header__right__inner__wrap d-flex align-items-center justify-content-end">

                                <ul class="headerarea__right headerarea__right__mobail__menu">
                                    <li>
                                        <div class="headerarea__search cursor__pointer">

                                            <svg role="presentation" stroke-width="2" focusable="false" width="22" height="22" class="icon icon-search" viewbox="0 0 22 22">
                                                <circle cx="11" cy="10" r="7" fill="none" stroke="currentColor"></circle>
                                                <path d="m16 15 3 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>


                                        </div>
                                    </li>

                                    <li>
                                        <div class="setting__wrap cursor__pointer">
                                            <div class="setting__wrap__active">

                                                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512">
                                                    <path d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path>
                                                    <path d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                                                </svg>

                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="headermiddle__bar cursor__pointer">
                                            <div class="headermiddle__account">
                                                <div class="headermiddle__account__img">
                                                    <a href="{% url 'orders:cart' %}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512">
                                                            <circle cx="176" cy="416" r="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></circle>
                                                            <circle cx="400" cy="416" r="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></circle>
                                                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M48 80h64l48 272h256"></path>
                                                            <path d="M160 288h249.44a8 8 0 007.85-6.43l28.8-144a8 8 0 00-7.85-9.57H128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path>
                                                        </svg>
                                                    </a>
{#                                                    <span class=" bigcounter">2</span>#}

                                                </div>

                                            </div>
                                        </div>
                                    </li>

                                </ul>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Mobile Menu Start Here -->
            <div class="mobile-off-canvas-active">
                <a class="mobile-aside-close"><i class="fa fa-close"></i></a>
                <div class="header-mobile-aside-wrap">

                    <div class="mobile__logo">
                        <a href="index.html">
                            <img style="width: 100px; height: auto" src="{% static 'img/logo/logo__1.png' %}" alt="Logo">
                        </a>
                    </div>

                    <div class="mobile-search">
                        <form action="{% url 'productions:search_results' %}" method="get" class="search-form">
                            <input type="search" name="q" value="" placeholder="جستجوی کل فروشگاه…">
                            <button class="button-search"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="mobile-menu-wrap">

                        <div class="mobile-navigation">

                            <nav>
                                <ul class="mobile-menu">
                                    <li><a href="{% url 'productions:landing_page' %}">خانه</a>
                                    <li class="menu-item-has-children"><a href="{% url 'productions:category_list' %}">دسته بندی</a>
                                        <ul class="dropdown">
                                            {% for category in categories_context %}
                                                <li><a href="{% url 'productions:product_list_by_category' category.slug %}">{{ category.category_name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>

                                    <li><a href="{% url 'productions:about' %}">درباره</a>
                                    </li>
                                    <li><a href="{% url 'productions:contact' %}">تماس با ما</a>
                                    </li>


                                </ul>
                            </nav>

                        </div>


                    </div>
                </div>
            </div>
            <!-- Mobile Menu end Here -->

            <!-- setting__wrap__list__start -->
            <div class="setting__wrap__list">
                <button class="setting__wrap__close">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512">
                        <title>بستن</title>
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"></path>
                    </svg></button>

                <div class="setting__wrap__heading">
                    <h6>
                        <a href="#">حساب کاربری</a>
                    </h6>
                </div>
                <div class="setting__wrap__list__inner">
                    <ul>
                        {% if request.COOKIES.access_token %}
                            <li>
                                <a href="#" id="logout-link" class="default__button">خروج</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="default__button" href="{% url 'customers:login_register_page' %}">ورود</a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="default__button" href="{% url 'orders:cart' %}">سبد خرید</a>
                        </li>
{#                        <li>#}
{#                            <a href="wishlist.html">لیست علاقه‌مندی‌ها</a>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>
            <!-- setting__wrap__list__end -->

            <!-- header__search -->
            <div class="headersearch__active">
                <div class="headersearch__active__icon">
                    <button class="headersearch__active__close">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512">
                            <title>بستن</title>
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"></path>
                        </svg></button>
                </div>
                <div class="headersearch__active__input">
                    <form action="{% url 'productions:search_results' %}" method="get" role="search" style="position: relative;">
                        <div class="header__form__search">
                            <input type="search" name="q" value="" placeholder=" جستجو کنید" class="input-text" autocomplete="off">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- header__search -->

        </header>
        <!-- header section end -->

        <!-- breadcrumb__start -->
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__title">
                            <h1>سبد خرید</h1>
                            <ul>
                                <li>
                                    <a href="#">خانه</a>
                                </li>
                                <li class="color__blue">
                                   سبد خرید
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- breadcrumb__end -->



        <!-- cart__section__start -->
            <div class="cartarea sp_bottom_100 sp_top_100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <form action="#">
                                <div class="cartarea__table__content table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>تصویر</th>
                                                <th>محصول</th>
                                                <th>رنگ</th>
                                                <th>قیمت</th>
                                                <th>تعداد</th>
                                                <th>جمع کل</th>
                                                <th>حذف</th>
                                            </tr>
                                        </thead>
                                        <tbody id="cart-table-body">

                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="cartarea__shiping__update__wrapper">
                            <div class="cartarea__shiping__update">
                            <a class="default__button" href="{% url 'productions:product_list' %}">ادامه خرید</a>
                            </div>
                            <div class="cartarea__clear">
                            <a id="update-cart" class="default__button" href="#">بروزرسانی سبد خرید</a>
                            <a id="clear-cart" class="default__button" href="#">حذف کل سبد خرید</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-4 col-md-6 col-12">
                            <div class="cartarea__grand__totall cartarea__tax">
                                <div class="cartarea__title">
                                    <h4>جمع کل سبد خرید</h4>
                                </div>
                                <h5> هزینه ارسال
                                    <span>پرداخت پس از تحویل</span>
                                </h5>
                                <h5>جمع کل سبد خرید
                                    <span id="final">189,000 تومان</span>
                                </h5>
                                <a class="default__button" href="{% url 'orders:checkout' %}">ادامه به پرداخت</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- cart__section__end-->


<!-- footer__section__start -->
  <div class="footer ">
    <div class="footer__inner sp_top_80">
    <div class="container sp_bottom_60">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="footer__widget">
                    <h4 class="footer__title">درباره ما</h4>
                    <div class="footer__content">
                        <p>Silver Moon یک پلتفرم خرده فروشی آنلاین پویا و نوآورانه است که طیف گسترده ای از محصولات را به مشتریان در سراسر کشور ارائه می دهد.</p>
                    </div>

                    <div class="footer__bottom">
<h5>سبکی که اهمیت دارد🌖</h5>
                </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-4 col-6">
                <div class="footer__widget">
                    <h4 class="footer__title">اطلاعات تماس</h4>
                    <div class="footer__menu">
                    <ul>
                        <li><a href="#">تلفن:09035774781</a></li>
                        <li><a href="#">ایمیل: nima.abarghooie1@gmail.com</a></li>
                        <li><a href="#">شعبه حضوری: تهران-خیابان مولوی،بازارچه سعادت،پاساژ پرشین٫طبقه همکف٫پلاک۳۲۰</a></li>
                    </ul>
                  </div>
                </div>
            </div>
            &emsp;
            &emsp;
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-4 col-6">
                <div class="footer__widget">
                    <h4 class="footer__title">لینک سریع</h4>
                    <div class="footer__menu">
                    <ul>
                        <li><a href="{% url 'productions:landing_page' %}">خانه</a></li>
                        <li><a href="{% url 'productions:category_list' %}">دسته بندی</a></li>
                        <li><a href="{% url 'productions:about' %}">درباره ما</a></li>
                        <li><a href="#">لیست آرزوها</a></li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-4 col-6">
                <div class="footer__widget">
                    <h4 class="footer__title">اعتماد شما سرمایه ماست</h4>
                    <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=582919&Code=xIwy1riSwGeTRkGJd8BhoFKqpINVrvzz'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=582919&Code=xIwy1riSwGeTRkGJd8BhoFKqpINVrvzz' alt='' style='cursor:pointer' code='xIwy1riSwGeTRkGJd8BhoFKqpINVrvzz'></a>
                </div>
            </div>
        </div>
    </div>
</div>
{#      <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=582919&Code=xIwy1riSwGeTRkGJd8BhoFKqpINVrvzz'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=582919&Code=xIwy1riSwGeTRkGJd8BhoFKqpINVrvzz' alt='' style='cursor:pointer' code='xIwy1riSwGeTRkGJd8BhoFKqpINVrvzz'></a>#}

    <div class="copyright">
    <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="copyright__text">

                <p>© <strong>Silver Moon 🌖</strong>. تمامی حقوق محفوظ است.</p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
 <!-- footer__section__end -->
        

</main>

    <!-- JS here -->
            <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
            <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

            <script src="{% static 'js/popper.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
            <script src="{% static 'js/one-page-nav-min.js' %}"></script>
            <script src="{% static 'js/slick.min.js' %}"></script>
            <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
            <script src="{% static 'js/ajax-form.js' %}"></script>
            <script src="{% static 'js/wow.min.js' %}"></script>
            <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
            <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
            <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
            <script src="{% static 'js/waypoints.min.js' %}"></script>
            <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
            <script src="{% static 'js/fontawesome.min.js' %}"></script>
            <script src="{% static 'js/plugins.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>
            <script>
                $(document).ready(function () {
                    $("#logout-link").click(function (event) {
                        event.preventDefault(); // جلوگیری از تغییر صفحه

                        $.ajax({
                            type: "POST",
                            url: "{% url 'customers:logout' %}",  // مسیر ویو Logout
                            headers: { "X-CSRFToken": "{{ csrf_token }}" }, // ارسال CSRF برای امنیت
                            success: function (response) {
                                alert('خروج موفقیت آمیز');  // نمایش پیام موفقیت
                                window.location.href = response.redirect_url;  // ریدایرکت به صفحه اصلی
                            },
                            error: function (xhr, status, error) {
                                console.error("خطا در خروج:", error);
                            }
                        });
                    });
                });
            </script>
<script>
    $(document).ready(function () {

    // تابع تبدیل اعداد فارسی و عربی به انگلیسی
    function convertToEnglishDigits(input) {
        return input.replace(/[۰-۹]/g, function (d) {
            return String.fromCharCode(d.charCodeAt(0) - 1728);
        }).replace(/[٠-٩]/g, function (d) {
            return String.fromCharCode(d.charCodeAt(0) - 1584);
        });
    }

    // فرمت‌بندی عدد با کاما
    function formatNumber(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    // بروزرسانی قیمت کل سبد خرید
    function updateTotal() {
        var totalSum = 0;
        $('#cart-table-body tr').each(function () {
            var priceText = $(this).find('.total-price').text().replace(/,/g, '');
            totalSum += parseInt(priceText) || 0;
        });

        $('.total-sum').text('تومان ' + formatNumber(totalSum));
        $("#final").text('تومان ' + formatNumber(totalSum));
    }

    // دریافت اطلاعات سبد خرید از سرور و نمایش در جدول
    $.ajax({
        url: '{% url "orders:cart_api" %}',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var cartItems = data.cartitem_set;
            var tableBody = $('#cart-table-body');
            var totalSum = 0;

            tableBody.empty();

            $.each(cartItems, function (index, item) {
                var row = $('<tr>').data('product-id', item.product_id.id);
                row.append(
                    $('<td>').html('<img src="' + item.product_id.main_image + '" alt="' + item.product_id.name + '" style="width: 50px;">'),
                    $('<td>').text(item.product_id.name),
                    $('<td>').addClass('color-cell').data('color-id', item.color.id).text(item.color.name),
                    $('<td>').css('direction', 'rtl').text(formatNumber(item.price)),
                    $('<td class="cartarea__product__quantity">').html(
                        `<div class="featurearea__quantity">
                            <div class="qty-container">
                                <button class="qty-btn-minus btn-qty" type="button"><i class="fa fa-minus"></i></button>
                                <input type="text" name="qty" value="${item.quantity}" class="input-qty" data-product-id="${item.product_id.id}" data-color-id="${item.color.id}">
                                <button class="qty-btn-plus btn-qty" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>`
                    ),
                    $('<td class="total-price">').css('direction', 'rtl').text(formatNumber(item.price * item.quantity)),
                    $('<td>').html('<button class="btn btn-sm btn-danger remove-item"><i class="fa fa-times"></i></button>')
                );
                tableBody.append(row);
                totalSum += item.price * item.quantity;
            });

            updateTotal();
        }
    });

    // دکمه افزایش تعداد محصول
    $(document).on("click", ".qty-btn-plus", function () {
        var input = $(this).siblings(".input-qty");
        var currentValue = parseInt(convertToEnglishDigits(input.val())) || 1;
        if (currentValue < 50) {
            input.val(currentValue + 1);
        }
    });

    // دکمه کاهش تعداد محصول
    $(document).on("click", ".qty-btn-minus", function () {
        var input = $(this).siblings(".input-qty");
        var currentValue = parseInt(convertToEnglishDigits(input.val())) || 1;
        if (currentValue > 1) {
            input.val(currentValue - 1);
        }
    });

    // کنترل ورودی دستی در `input-qty`
    $(document).on("input", ".input-qty", function () {
    var input = $(this);
    var value = convertToEnglishDigits(input.val());

    // اگر مقدار ورودی خالی است، مقدار قبلی را تغییر نده
    if (value === "") {
        return;
    }

    var quantity = parseInt(value) || 1;

    // تنظیم مقدار عدد در بازه 1 تا 50
    if (quantity < 1) {
        quantity = 1;
    } else if (quantity > 50) {
        quantity = 50;
    }

    input.val(quantity);
});


    // بروزرسانی سبد خرید هنگام کلیک روی دکمه "بروزرسانی سبد"
    $("#update-cart").click(function () {
        var cartData = [];

        $(".input-qty").each(function () {
            var productId = $(this).data("product-id");
            var colorId = $(this).data("color-id");
            var quantity = parseInt(convertToEnglishDigits($(this).val())) || 1;

            cartData.push({
                product_id: productId,
                color_id: colorId,
                quantity: quantity
            });
        });

        $.ajax({
            url: "{% url 'orders:cart_update' %}",
            type: "POST",
            data: JSON.stringify({ cart: cartData }),
            contentType: "application/json",
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            success: function (response) {
                console.log("سبد خرید بروز شد:", response);
                updatePrices(response);
            },
            error: function (xhr, status, error) {
                console.error("خطا در بروزرسانی سبد:", error);
            }
        });
    });

    // بروزرسانی قیمت‌های سبد خرید
    function updatePrices(response) {
        var totalSum = 0;
        $(".input-qty").each(function () {
            var productId = $(this).data("product-id");
            var colorId = $(this).data("color-id");
            var quantity = parseInt($(this).val());
            var price = response.prices[`${productId}-${colorId}`];

            var totalPriceCell = $(this).closest("tr").find(".total-price");
            totalPriceCell.text(formatNumber(price * quantity));

            totalSum += price * quantity;
        });

        $(".total-sum").text("تومان " + formatNumber(totalSum));
        $("#final").text("تومان " + formatNumber(totalSum));
    }

    // حذف یک محصول از سبد خرید
    $(document).off('click', '.remove-item').on('click', '.remove-item', function () {
        var row = $(this).closest('tr');
        var productId = row.data('product-id');
        var colorId = row.find('.color-cell').data('color-id');

        $.ajaxSetup({ headers: { "X-CSRFToken": "{{ csrf_token }}" } });
        $.ajax({
            url: '/cart/remove/' + productId + '/',
            type: 'POST',
            data: { color: colorId },
            success: function () {
                row.remove();
                updateTotal();
            }
        });
    });

    // پاک کردن کل سبد خرید
    $("#clear-cart").click(function (event) {
        event.preventDefault();

        if (!confirm("آیا مطمئن هستید که می‌خواهید کل سبد خرید را حذف کنید؟")) {
            return;
        }

        $.ajax({
            url: "{% url 'orders:cart_clear' %}",
            type: "POST",
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            success: function (response) {
                console.log("سبد خرید حذف شد:", response);
                $("#cart-table-body").empty();
                $(".total-sum").text("تومان 0");
                $("#final").text("تومان 0");
                alert("سبد خرید شما با موفقیت حذف شد!");
            },
            error: function (xhr, status, error) {
                console.error("خطا در حذف سبد خرید:", error);
                alert("مشکلی در حذف سبد خرید رخ داد.");
            }
        });
    });

});

</script>


</body>

</html>